<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Calendar API</title>
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <div class="container">
        <div class="sign-in">
            <div class="sign-in__heading">
                GOOGLE CALENDAR API
            </div>
            <a href="https://accounts.google.com/o/oauth2/v2/auth?access_type=offline&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcalendar.readonly&response_type=code&client_id=82969930891-ang0r2k2sh1gt8f1cqon0s3bb12ggkrq.apps.googleusercontent.com&redirect_uri=https%3A%2F%2Fgoogle-calendar-api-test.herokuapp.com%2Fshow-events">Sign In</a>
        </div>
    </div>
</body>
</html>