@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap');

*{
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
}

.date-heading{
    margin: 0;
}

.container-fluid{
    background-color: #fff;
}

#wrapper-row{
    min-height: 100vh;
}

#heading{
    background-color: #fff;
    font-size: 1.5rem;
}

#date{
    height: 3rem;
    background-color: #f4f4f8;
    border-top: 0.01rem solid #ccc;
    border-bottom: 0.01rem solid #ccc;
}

#events{
    background-color: #fff;
}

#event{
    border-bottom: 0.02rem dotted #ddd;
    min-height: 3rem;
    font-size: 1rem;
}
